@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
        <h1 class="display-4">Generator Formularzy</h1>
    </div>
    <div class="">

        @model IEnumerable<FormGenerator.Models.Forms>
        @{
            ViewData["Title"] = "Index";
        }
        <style>
            .cities {
                background-color: #66BB6A;
                color: white;
                margin: 20px;
                padding: 20px;
            }
        </style>
        
        <div class="cities" id="Drzewo"></div>
        <div class="cities" id="wynik"></div>
    </div> 
