/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
* {
    box-sizing: border-box;
}
#bar {
    width: 25%;
    float: left;
    padding: 15px;
    border: 1px solid red;
}


#site {
    width: 75%;
    float: left;
    padding: 15px;
    border: 1px solid red;
}

/* Sticky footer styles
   
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.rodzic li {
    cursor: pointer;
}
ul{
    cursor: pointer;
}
#Drzewo ul {
    cursor: pointer;
}

h3 {
    text-align: center;
    padding: 10px;
    border-top: 0.5px solid #000;
    border-bottom: 0.5px solid #000;
    border-color: #808080
    /*text-decoration: underline;*/
}


.rodzic btn1 {
    cursor: pointer;
}

.rodzicX btn1 {
    cursor: pointer;
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #c7f0db;
    margin-bottom: 60px;
    font-family: 'Lobster', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
.checkmark {
    height: 20px;
    width: 20px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}


.cities {
    background-color: #464159;
    color: white;
    margin: 20px;
    padding: 20px;
}



.btnx {
    background-color: #c7f0db;
    border: 1px solid grey;
    margin: 3px;
    font-family: sans-serif;
    font-weight: 470;
    border-radius: 4px
}

.rodzic btn1 {
    cursor: pointer;
}

.btnx:hover {
    background-color: #8bbabb;
}


.rodzicX btn1 {
    cursor: pointer;
}


#kategorie {
    
    float: left;
}

#formularzeKategorii {
    
    float: left;
}

#container{
    margin-left:auto;
    margin-right:auto;
    font-size:18px;

}

#buton
{
    margin:20px 0px 0px 20px;
    text-align:left;
}

header {
    background-color:#6c7b95;
}

.mainPage {
    background-color: #6c7b95;
}

.btn1{
    margin-left:10px;
}

.btn{
    color:white;
    min-height:40px;
    min-width:30px;
}


.table {
    background-color: #6c7b95;
}

    .table tbody tr:hover {
        background-color: #8bbabb;
    }

#wynik{
    margin-right:auto;
    margin-left:auto;

}

.mojprofil {
    background-color: #6c7b95;
}