@model FormGenerator.Models.Forms

@{
    ViewData["Title"] = "Create";
}

<style>
     .cities {
                background-color: #66BB6A;
                color: white;
                margin: 20px;
                padding: 20px;
            }
     
       
</style>
 
<h4>Nowy formularz</h4>
<hr />
<div class="cities">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Nazwa</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Kategoria</label>
                    <input asp-for="id_Category" class="form-control" />
                    <span asp-validation-for="id_Category" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input style=" background-color:white;
            color:#66BB6A;
            font-size:20px;
            padding: 15px 35px;
            border-radius: 8px;
            position:center;" type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


<div>
    <a asp-action="Index" asp-controller="Home" style="color:#66BB6A;  font-weight:700">Powrót do menu głównego</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
