
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/js/Scrip.js" asp-append-version="true"></script>
<style>
    .cities {
        background-color: #66BB6A;
        color: white;
        margin: 20px;
        padding: 20px;
    }
</style>
<h3>Kategorie</h3>
<div id="buton"></div>
<div id="Drzewo"></div>
<h3>Formularze kategorii</h3>

<div id="wynik"></div>

<script type="text/javascript">

            var IDcat = '@ViewBag.bag';

</script>





