
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/js/Scrip.js" asp-append-version="true"></script>

<div id="container">

    

    <div id="kategorie">
        <h3>Kategorie</h3>
        <div id="buton"></div>
        <div id="Drzewo"></div>
    </div>

    <div class="formularzeKategorii">
        
        <h3>Formularze kategorii</h3>

        <div id="wynik"></div>

    </div>
    <div style="clear:both;"></div>
</div>

<script type="text/javascript">

    var IDcat = '@ViewBag.bag';
    sessionStorage.removeItem('key');

</script>





