
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/js/Scrip.js" asp-append-version="true"></script>
<h3>Kategorie</h3>
<div id="Drzewo"></div>
<h3>Formularze kategorii</h3>

<div id="wynik"></div>

<script type="text/javascript">

            var IDcat = '@ViewBag.bag';

</script>





