@model IEnumerable<FormGenerator.Models.Patient>
@{
    ViewData["Title"] = "View";
}

<h1>View</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPatient)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPatient)
                </td>

            </tr>
        }
    </tbody>
</table>


<form action="Index" method="post">
    <input type="text" name="Id" />
    <input type="submit" value="Submit " />

</form>

@TempData["Message"]



<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>UWAGA!</strong> @TempData["Messagenie"]
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
