@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FormGenerator</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
    <style>
        body {
            margin-left: 50px;
            overflow-x: hidden;
            
        }
        ul {
            list-style-type: none;
            margin-right:35px;
            margin-top:10px;
        }
        #grid-con {
            display: grid;
        }

        #sidebar-wrapper {
            min-height: 100vh;
            margin-left: -15rem;
            -webkit-transition: margin .25s ease-out;
            -moz-transition: margin .25s ease-out;
            -o-transition: margin .25s ease-out;
            transition: margin .25s ease-out;
            box-shadow: 3px 3px 6px black;
            background-color: #8bbabb;
        }

            #sidebar-wrapper .sidebar-heading {
                padding: 0.875rem 1.25rem;
                font-size: 1.2rem;
            }

            #sidebar-wrapper .list-group {
                width: 15rem;
            }

        #page-content-wrapper {
            min-width: 100vw;
        }

        #wrapper.toggled #sidebar-wrapper {
            margin-left: 0;
        }


        #page-content-wrapper {
            min-width: 0;
            width: 100%;
        }

        #wrapper.toggled #sidebar-wrapper {
            margin-left: -15rem;
        }

        .btnz {
            background-color: #dcd2d2
        }
    </style>

    <header >
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-#6c7b95 border-bottom box-shadow mb-3">
            <div class="container">


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                            <a class="nav-link text-dark btnx" asp-area="" asp-controller="Forms" asp-action="Index">Generator Formularzy </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark btnx"asp-area="" asp-controller="Forms" asp-action="ListaFormularzy">Formularze</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark btnx" asp-area="" asp-controller="UserAnswerLists" asp-action="AnswerList">Wizualizator</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>



    <div class="d-flex" id="wrapper" style="margin-left: 190px">

        <!-- Sidebar -->
        <div class="bg-#8bbabb border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Formularze pacjenta </div>
            <div class="list-group list-group-flush container">
                <div class="table">
                    @*<thead>*@
                    <div id="searchPatient"></div>


                    @*</thead>*@
                    <div id="container">

                    </div>

                </div>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">



            <div class="container-fluid">
                <div>
                    <main role="main" class="pb-3 site">
                     
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>





    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - FormGenerator - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>



    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*<script src="~/js/patient.js"></script>*@
    @RenderSection("Scripts", required: false)


    <script>
        $(document).ready(function () {
            let val = sessionStorage.getItem("key");
            if (val != null) {
                let area = document.getElementById("searchPatient");
                area.value = sessionStorage.getItem("key")
                $.ajax({
                    url: '/Patient/PatientForms/' + area.value,
                    type: 'Get',
                    dataType: 'json',
                    data: { order: 'Call' },
                    success: function (data) {
                        console.log(data);
                        createTable(data);
                    },
                    error: function (data) {
                        console.log(data);
                    }

                });
            }
        });






        $("#buttonSearch").click(function () {
            console.log(sessionStorage.getItem("key"))
            let area = document.getElementById("searchPatient");
            sessionStorage.setItem('key', area.value);



            $.ajax({
                url: '/Patient/PatientForms/' + area.value,
                type: 'Get',
                dataType: 'json',
                data: { order: 'Call' },
                success: function (data) {
                    console.log(data);
                    createTable(data);
                },
                error: function (data) {
                    console.log(data);
                }

            });
        })


        function createTable(data) {
            let container = $("#container")[0];
            console.log("kurwo najgorsza")
            for (let i = 0; i < data.length; i++) {
                let ul = document.createElement("ul");
                let li = document.createElement('li');
                var form = $(" <button>").attr("class", "btnz").text(data[i].nazwa_formularza).css("width","100%").click(function () {
                    window.location.href = '/Forms/Formularz/' + data[i].idForm;
                    return false;
                });
                form.appendTo(li);
                ul.appendChild(li);

                container.appendChild(ul);
            }


        }



    </script>
</body>
</html>
