@using Microsoft.AspNetCore.Identity
@inject SignInManager<MyUser> SignInManager
@inject UserManager<MyUser> UserManager





<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin")))
    {
        <li class="nav-item">
            <a class="nav-link text-dark btnx" asp-controller="Patient" asp-action="Create" title="AddPatient">Dodaj Pacjenta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Mój profil</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Wyloguj się</button>
            </form>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Rejestracja</a>
        </li>
    }
    else if (SignInManager.IsSignedIn(User) && (User.IsInRole("Technik")))
    {
        <li class="nav-item">
            <a class="nav-link text-dark btnx" asp-controller="Patient" asp-action="Create" title="AddPatient">Dodaj Pacjenta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark btnx" asp-controller="Patient" asp-action="Index" title="CompleteSurvey">Pacjent</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark btnx" asp-controller="EntranceFormFields" asp-action="Index" title="CompleteSurvey">Formularz powitalny </a>
        </li>
        <li class="nav-item">
            <a style="margin:5px 5px 0px 50px" class="btn btn-info" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Mój profil</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button style="margin:5px;" type="submit" class="btn btn-info">Wyloguj się</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a style="margin:0px 15px 0px 0px" class="btn btn-info" asp-area="Identity" asp-page="/Account/Register">Rejestracja</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-info" asp-area="Identity" asp-page="/Account/Login">Logowanie</a>
        </li>
    }
</ul>
