@using Microsoft.AspNetCore.Identity
@inject SignInManager<MyUser> SignInManager
@inject UserManager<MyUser> UserManager
<style> .btnx {
    border: 1px solid black;
    margin: 2px;
    background-color: #efefef;
}</style>
 


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin")))
    {
        <li class="nav-item">
            <a class="nav-link text-dark btnx" asp-controller="Patient" asp-action="Create" title="AddPatient">Dodaj Pacjenta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Użytkownik: @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Wyloguj Się</button>
            </form>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Stwórz Użytkownika</a>
        </li>
    }
    else if (SignInManager.IsSignedIn(User) && (User.IsInRole("Technik")))
    {
        <li class="nav-item">
            <a class="nav-link text-dark btnx" asp-controller="Patient" asp-action="Create" title="AddPatient">Dodaj Pacjenta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark btnx" asp-controller="Patient" asp-action="Index" title="CompleteSurvey">Pacjent</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark btnx" asp-controller="EntranceFormFields" asp-action="Index" title="CompleteSurvey">Formularz powitalny </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Użytkownik: @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Wyloguj Się</button>
            </form>
        </li>
    }
    else
    {      
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Zaloguj Się</a>
        </li>
    }
</ul>
